* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Liberation Sans';
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

tr > td:first-child, tr > th:first-child {
    width: 50px;
    text-align: center;
    border-left: none;
    background-color: #ddd;
}

thead > tr > th {
    border-top: none;
    background-color: #ddd;
}

th, td {
    width: 100px;
    height: 25px;
    border: 1px solid #aaa;
    padding: 0 5px;
}